.page-not-found {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - 100px);
}

.page-not-found__title {
  color: var(--clr-home-title);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.page-not-found__subtitle {
  color: var(--clr-subtitle);
  font-size: var(--size-base);
  line-height: 0.9;
}

@media (min-width: 475px) {
  .page-not-found__title {
    font-size: var(--size-5xl);
  }

  .page-not-found__subtitle {
    font-size: var(--size-lg);
  }
}

@media (min-width: 1024px) {
  .page-not-found__title {
    font-size: var(--size-7xl);
  }

  .page-not-found__subtitle {
    font-size: var(--size-2xl);
  }
}

@media (min-width: 1280px) {
  .page-not-found__title {
    font-size: var(--size-8xl);
  }

  .page-not-found__subtitle {
    font-size: var(--size-3xl);
  }
}