.card-tech-stack {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2rem;
  justify-content: center;
}

.card-tech-stack__tech-badge {
  color: var(--clr-badge-text);
  font-size: var(--size-xs);
  background-color: var(--clr-badge);
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 9999px;
  display: inline-block;
}

/* md */
@media (min-width: 1024px) {
  .card-tech-stack__tech-badge {
    font-size: var(--size-sm);
  }
}
